@import "tailwindcss";

@theme {
  --font-asimovian: "Asimovian", sans-serif;
}


/* Remove number input arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}